{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license https://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array events
 * @see https://developers.google.com/calendar/api/v3/reference/events/list
#}

{% extends "html/layouts/default.twig" %}
{% block content %}
<header>
    <h1  class="col1">Test Meetings</h1>
    <div class="date"> <h2 class="weekday">{{ "now"|date("l, F jS") }}</h2></div>
    <div class="qrcode">
        <img src="{{ BASE_URI }}/qr-code.png" />
    </div>
</header>
<section>
    <header>
        <h2 class="col1">Time</h2>
        <h2>Event</h2>
        <h2>Location</h2>
    </header>
{% for date, ids in events %}
    {% for event_id, event in ids %}
    <article> 
        <time datetime="{{ event.start }}">
            <h2>
                {{  event.start | date('g:ia') }}
                {% if event.end %}
                to {{ event.end | date('g:ia') }}
                {% endif %}
            </h2>
        </time>
        <header>
            <h2>{{ event.summary }}</h2>
        </header>
        <p class="location">
            {{ event.location }}
            {% if event.zoomLink %}
            <a href="{{ event.zoomLink }}">Join Zoom</a>
            {% endif %}
        </p>
    </article>
    {% endfor %}
{% endfor %}
</section>
{% endblock %}
