<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANG }}" lang="{{ LANG }}">
{{ include('html/layouts/partials/head.twig') }}

<body>
    <header>
        <div>
            <h1><a href="{{ BASE_URI }}">Public Meetings</a></h1>
            <p> Zoom links to meetings are available via the QR code or at
                <a href="https://bloomington.in.gov/boards">bloomington.in.gov/boards</a>
            </p>
        </div>
        <img id="qrcode" src="{{ BASE_URI }}/qr-code.png" />
    </header>
	<main>
        {# <div> #}
            {% if errorMessages is defined %}
            {{ include('html/layouts/partials/errorMessages.twig') }}
            {% endif %}

            {% block content %}
            {% endblock %}
        {# </div> #}
	</main>
	{{ include('html/layouts/partials/footer.twig') }}
</body>
</html>
